<div #content >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Remark</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modals.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-label" for="">English Name</label>
      <input class="form-control" type="text" placeholder="Enter Name" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modals.close('Save click')"
    >
      Save
    </button>
  </div>
</div>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Launch demo modal
</button>

<hr />

<pre>{{ closeResult }}</pre> -->
