<p>css-grid</p>

<div class="container-fluid">
  <div class="item item1 bg-info">

  </div>
  <div class="item item2 bg-light">

  </div>
  <div class="item item3 bg-info">

  </div>
  <div class="item item4 bg-success">

  </div>
  <div class="item item5 bg-primary">

  </div>
  <div class="item item6 bg-success">

  </div>
  <div class="item item7 bg-info">

  </div>
  <div class="item item8 bg-light">

  </div>
  <div class="item item9 bg-success">

  </div>
  <div class="item item10 bg-info">

  </div>
  <div class="item item11 bg-info">

  </div>
</div>
