<h1> Practice </h1>
<div>
  <button class="col-1 btn btn-primary mb-3" (click)="save()">Submit</button>
</div>

<div class="row mb-4">
  <div class="col-6">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" name="name" [(ngModel)]="addInformation.name" class="form-control" id="name">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" name="email"  [(ngModel)]="addInformation.email"  class="form-control" id="email">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <input type="text" name="gender"  [(ngModel)]="addInformation.gender"  class="form-control" id="gender">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="education" class="form-label">Education</label>
      <input type="text" name="education"  [(ngModel)]="addInformation.education"  class="form-control" id="education">
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-success mb-3" (click)="addNumber()">+Add Phone Number</button>
    <div class="row" *ngFor="let item of addInformation.phoneNumber; let i = index">
        <div class="col-6">
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="text" name="phoneNumber"  [(ngModel)]="item.number" class="form-control" id="phoneNumber">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="telephoneNumber" class="form-label">Telephone number</label>
            <input type="text" name="telephoneNumber"  [(ngModel)]="item.telephoneNumber" class="form-control" id="telephoneNumber">
          </div>
        </div>
        <button class="col-1 btn btn-danger mb-3" (click)="removeNumber(i)">remove x</button>
        <!-- <button class="col-1 btn btn-danger mb-3" (click)="clone(item)">clone </button> -->
    </div>

  </div>

</div>


<button class="btn btn-primary mb-2" (click)="addMore()">+Add More Addres</button>
<div class="address-grid">
  <ag-grid-angular
  class="ag-theme-alpine w-100 h-100"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (gridReady)="gridReady($event)"
  [rowHeight]="40"
>
</ag-grid-angular>
</div>


