<nav class="navbar bg-light">
    <div class="container-fluid">
      <a routerLinkActive="active-link" ngbTooltip="Go to Home" routerLink="" class="navbar-brand">Manthan</a>
      <a routerLinkActive="active-link" routerLink="main">Main</a>
      <a routerLinkActive="active-link" routerLink="draguses">DragUseC</a>
      <a routerLinkActive="active-link" routerLink="retailerinvoice">Retailer</a>
      <a routerLinkActive="active-link" routerLink="dragoservice">Dragos</a>
      <a routerLinkActive="active-link" routerLink="ngxTable">Ngx</a>
      <a routerLinkActive="active-link" routerLink="changes" >Extra</a>
      <a routerLinkActive="active-link" routerLink="agGrid" >GridPrac</a>
      <a routerLinkActive="active-link" routerLink="forms" >Form</a>
      <a routerLinkActive="active-link" routerLink="touch" >Touch</a>
      <a routerLinkActive="active-link" routerLink="cssGridPract" >Cssgrid</a>
      <a routerLinkActive="active-link" routerLink="ext-sub" >ExtaSub</a>
      <a routerLinkActive="active-link" routerLink="practice" >practice</a>
      <a routerLinkActive="active-link" routerLink="barcode" >Barcode</a>
      <a routerLinkActive="active-link" routerLink="dragInside" >Drag Inside</a>



      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- <input type="text" [(ngModel)]="love"> -->
